<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageSequencerExampleApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5275AD4A2ACB26E40013CE0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5275AD5A2ACB26E50013CE0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5275AD642ACB26E50013CE0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
